
.loginScreen{
    position: relative;
    height: 100%;
    background-image: url("https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg");
    background-size: cover;
}
.loginScreen__logo{
    position: fixed;
    left: 0;
    width: 150px;
    padding-left: 20px;
    object-fit: contain;
}
.loginScreen__button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    color: white;
    background-color: var(--color-e50914);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.loginScreen__gradient{
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}
.loginScreen__body{
    position: absolute;
    top: 25%;
    color:#fff;
    z-index: 1;
    text-align: center;
    margin-left: 50%;
    margin-right: auto;
    transform: translate(-50%, 0 );
    padding: 20px;
    width: 60%;
   
}
.loginScreen__body>h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.loginScreen__body>h2{
    font-size: 1.9rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.loginScreen__body>h3{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.loginScreen__input>form>input{
    padding: 10px;
    height: 30px;
    width: 30%;
    border: none;
    outline-width: 0;
    max-width: 600px;
}
.loginScreen__getStarted{
    padding: 16px 20px;
    font-size: 1rem;
    border: none;
    color: #fff;
    background-color:var(--color-e50914);
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
}
