body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Rubik', sans-serif; 
}
:root{
    --color-e50914: #e50914;
    --color-fff:#fff;
}
h1,h2,h3{
    margin: 0;
    padding: 0;
}
.app{
    background-color: #111;
}
